body {
    font-family: sans-serif;
}
header {
   background-color: #8A2BE2 ;
   padding: 10px;


}
header a {
    background-color: #FFFFFF;
    padding: 5px;
    text-decoration: none;
    border-radius: 20px;
}
h1 {

    color: #000080;
    text-align: center;
}
footer p {
    background: #FFD700;
    border: 2px solid greenyellow;     
    padding: 5px ;
}
nav {
    margin: 20px;
    padding: 10px;
    border: 2px solid lightgrey;
    text-align: center;
}
nav a {
    margin: 30px;
    font-size: 20px;
    text-decoration: none;

     color: rgb(255, 0, 0);
}
.link {
    color: #8B0000;
}
.login {
  color: #006400;
  background-color: #FFD700;
}
h2 {
    color: #00008B;
}